body {
    max-width: 30rem;
    margin: auto;
    color: white;
    background-color: black;
}
#characterBox {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
#weak {
    margin: auto;
    display: flex;
}
.character {
    display: flex;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border: 1pt solid gray;
    border-radius: 6pt;
}
.image {
    height: 36pt;
}
.weakness {
    display: flex;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 6pt;
    margin: 6pt;
}
.물리, .소상, .루카, .나타샤 {
    background-color: gray;
}
.바람, .브로냐, .단항, .삼포 {
    background-color: palegreen;
}
.번개, .서벌, .정운 {
    background-color: darkviolet;
}
.양자, .부현, .링스, .청작 {
    background-color: darkblue;
}
.얼음, .경류, .게파드, .페라, .Mar7th, .헤르타 {
    background-color: skyblue;
}
.허수, .음월, .어공 {
    background-color: gold;
}
.화염, .아스타, .계네빈, .후크 {
    background-color: crimson;
}

#job {
    display: flex;
    justify-content: space-around;
}
#jobbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.job {
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.job div {
    display: flex;
    margin: 1rem;
    border-radius: 6pt;
    align-items: center;
    justify-content: center;
}
img {
    height: 6rem;
}
.job span {
    display: none;
}

#party {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#party div {
    display: flex;
    margin: 0.5rem;
    border-radius: 6pt;
    align-items: center;
    justify-content: center;
}