body {
    max-width: 30rem;
    margin: auto;
    color: white;
    background-color: black;
}
#characterBox {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
#weak {
    margin: auto;
    display: flex;
}
.character {
    display: flex;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border: 1pt solid gray;
    border-radius: 6pt;
}
.image {
    height: 36pt;
}
.weakness {
    display: flex;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 6pt;
    margin: 6pt;
}
.물리 {
    background-color: gray;
}
.바람 {
    background-color: palegreen;
}
.번개 {
    background-color: darkviolet;
}
.양자 {
    background-color: darkblue;
}
.얼음 {
    background-color: skyblue;
}
.허수 {
    background-color: gold;
}
.화염 {
    background-color: crimson;
}

#job {
    display: flex;
    justify-content: space-around;
}
#jobbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.job {
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.job div {
    display: flex;
    height: 5rem;
    margin: 1rem;
    border-radius: 6pt;
    align-items: center;
    justify-content: center;
}
.job img {
    height: 5rem;
}
.job span {
    display: none;
}