body {
    max-width: 30rem;
    margin: auto;
}
#characterBox {
    margin: auto;
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem 5rem;
    gap: 1rem;
}
#weak {
    margin: auto;
    display: flex;
}
.character {
    display: flex;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border: 1pt solid gray;
    border-radius: 5%;
}
.weakness {
    display: flex;
    width: 5rem;
    height: 24pt;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin: 6pt;
}
.물리 {
    background-color: lightgray;
}
.바람 {
    background-color: palegreen;
}
.번개 {
    background-color: darkviolet;
}
.양자 {
    background-color: violet;
}
.얼음 {
    background-color: skyblue;
}
.허수 {
    background-color: palegoldenrod;
}
.화염 {
    background-color: pink;
}

#job {
    display: flex;
    justify-content: space-around;
}